<div class="card card-cascade wider">
  <div class="view view-cascade gradient-card-header yellow darken-1 text-center">
    <h2 class="card-title mb-3">{{title}}</h2>
    <p class="mb-0">{{date}}</p>
  </div>
  <div class="card-body card-body-cascade text-center rgba-white-light">
    <p class="card-text mb-0">{{content}}</p>
    <a href="{{link}}" class="orange-text d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Read more <i class="fa fa-cloud-download"></i></h5>
    </a>
  </div>
</div>