<ngb-tabset #t="ngbTabset">
  <ngb-tab id="tab-selectbyid1" title="Add">
    <ng-template ngbTabContent>
      <form class="text-center border border-light p-5" [formGroup]="recJobPost.formGroup">
        <div class="form-group row">
          <div class="col-8">
            <div id="intoduction" class="form-group">
              <div class="form card-body">
                <div class="form-group row">
                  <label class="col-3" for="recJobPostTitle">Job Title</label>
                  <input class="col form-control" id="recJobPostTitle" type="text" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="recJobPost.Title">
                </div>
                <div class="form-group row">
                  <label class="col-3" for="infoNumber"> Level</label>
                  <input class="col form-control" id="infoNumber" type="text" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="recJobPost.level">
                </div>
                <div class="form-group row">
                  <label class="col-3" for="primeObjective"> Description</label>
                  <textarea class="col form-control" id="primeObjective" type="text"
                    [ngModelOptions]="{standalone: true}" [(ngModel)]="recJobPost.description" rows="3"></textarea>
                </div>
                <div class="form-group row">
                  <label class="col-3" for="vision"> Requirements</label>
                  <textarea class="col form-control" id="vision" type="text" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="recJobPost.requirement" rows="3"></textarea>
                </div>
                <div class="form-group row">
                  <label class="col-3" for="mission"> Required Qualifications</label>
                  <textarea class="col form-control" id="mission" type="text" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="recJobPost.requiredQalification" rows="3"></textarea>
                </div>
                <div class="form-group row">
                  <label class="col-3" for="sd"> Open Untill</label>
                  <div class="btn-group input-group col" id="sd">
                    <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="recJobPost.closeDate"
                      ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #sd="ngbDatepicker"
                      [ngModelOptions]="{standalone: true}">
                    <div class="input-group-btn">
                      <button class="btn calendar btn-grey btn-rounded" (click)="sd.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-3" for="fax"> Estimated Salary</label>
                  <input class="col form-control" id="fax" type="text" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="recJobPost.estimatedSalary">
                </div>
                <div class="form-group row">
                  <label class="col-3" for="fax"> Company Name</label>
                  <input class="col form-control" id="fax" type="text" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="recJobPost.company.name">
                </div>
                <div class="form-group row">
                  <div class="col">
                    <app-question (addQuestions)="addQuestions($event)"></app-question>
                  </div>
                </div>
                <div *ngFor="let skill of recJobPost.skill" class="form card-body">
                  <app-resume-card [editable]="true" [titles]="skillStructure.titles"
                    [attributes]="skillStructure.attributes" [content]="skill" (delete)="deleteSkill($event)">
                  </app-resume-card>
                </div>
                <div class="form-group row">
                  <div class="col"></div>
                  <div class=" col-8">
                    <app-skill (addSkill)="addSkill($event)" [skillAdded]="eventsSubject.asObservable()"></app-skill>
                  </div>
                  <div class="col-2">
                    <button class="btn btn-grey btn-rounded" (click)="emitEventToChild('skill')"
                      type="button">Add</button>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4"></div>
                  <app-address (addAddress)="addAddress($event)"></app-address>
                </div>

              </div>
            </div>
            <button type="button" class="btn btn-primary float-right" (click)="save()">Save</button>
          </div>
        </div>
      </form>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab-selectbyid2" title="Show Saved">
    <ng-template ngbTabContent>
      <div class="row">
        <div *ngFor="let company of companies" class="col-4">
          <app-card [isText]="false" [titles]="companyStructure.titles" [attributes]="companyStructure.attributes"
            [content]="company" [link]="">
          </app-card>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>