<div class=" card-cascade  deep-purple accent-4 ">
  <div class="btn-group" role="group">
    <button
      id="navbar"
      type="button"
      class="btn btn-secondary "
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Menu
    </button>
    <div class="dropdown-menu" aria-labelledby="navbar">
      <a class="dropdown-item" [routerLink]="['/dashboard']">Dashboard</a>
      <div class="dropdown-divider"></div>
      <h5 class="">Account</h5>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" [routerLink]="['/account']">Profile</a>
      <a class="dropdown-item" [routerLink]="['/resume']">Resume</a>
      <div class="dropdown-divider"></div>

      <h5 *ngIf="isEmployer" class="  ">Manage</h5>
      <div *ngIf="isEmployer" class="dropdown-divider"></div>
      <a *ngIf="isEmployer" class="dropdown-item" [routerLink]="['/companies']"
        >Company</a
      >
      <a
        *ngIf="isEmployer"
        class="dropdown-item"
        [routerLink]="['/manage/posts']"
        >Job Posts</a
      >
      <a
        *ngIf="isEmployer"
        class="dropdown-item"
        [routerLink]="['/manage/applications']"
        >Applications</a
      >
      <div *ngIf="isEmployer" class="dropdown-divider"></div>

      <h5 class="  ">Job Search</h5>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" [routerLink]="['/']">Submitted Applications</a>
      <a class="dropdown-item" [routerLink]="['/']">Saved Jobs</a>
      <a class="dropdown-item" [routerLink]="['/job/search']">Search Jobs</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">My Notes</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Log Out</a>
    </div>
  </div>
</div>
